doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      .left-side MembersOnly 
      .nav-links 
        a(href="") Login 
        a(href="") SignOut 
    block content
